* {box-sizing: border-box}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik';
}

#commentSection {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.comment {
    display: block;
    padding: 10px;
    gap: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.commenttext {
    margin-left: 60px;
    color: hsl(211, 10%, 45%);
}

.topcontainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.nameContainer {
    display: inline-flex;
    padding: 0px 5px;
    align-items: center;
}

.buttonContainer {
    display: inline-flex;
    padding: 0px 5px;
    align-items: center;
}

.you {
    padding: 1px 2px;
    margin: 0px 5px 0px 0px;
    color: white;
    background-color:  hsl(238, 40%, 52%);
    font-family: 'Rubik', sans-serif;
    font-size: 0.9em;
    height: 1.2em;
    border-radius: 2px;
}

.score {
    height: 80px;
    width: 40px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(238, 40%, 52%);
    background-color: hsl(223, 19%, 93%);
    text-align: center;
}

.commentreplysection {
    display: flex;
}

.addComment {
    display: flex;
    margin: 10px;
    background-color: white;
    padding:10px 5px;
    border-radius: 10px;
    text-align: start;
}

input[type='text']::placeholder {
    vertical-align:text-top;
    padding-left: 5px;
}

#commentInput {
    border: solid 1px hsl(223, 19%, 93%);
    border-radius: 5px;
    width: 75%;
    height: 2cm;
}

.commentreply {
    display: flex;
    justify-content: center;
}

.replycomments {
    width: 75%;
    flex-direction: column;
}

.verticalline {
    border-left: 2px solid hsl(223, 19%, 93%);
    width: 25%;
    height:fit-content;
    position: relative;
    left: 12.5%;
    margin-left: -1px;
    top: 0;
}

.profilepic {
    width: 40px;
    height: 40px;
}

.name {
    padding: 0px 5px;
    margin: 5px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.time {
    color: hsl(211, 10%, 45%);
}

.topcontainer {
    display: flex;
    align-items: center;   
}

.topcontainer a {
    padding-top: 5px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.nameLink {
    color: hsl(238, 40%, 52%);
    display: inline;
}

.buttonLink {
    display: flex;
    align-content: flex-start;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.buttonLink a {
    text-decoration: none;
}

.sendButton {
    background-color: hsl(238, 40%, 52%);
    color: white;
    height: fit-content;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    margin: 0px 10px;
}

.replyLink {
    float: inline-end;
    color: hsl(212, 24%, 26%);
    font-weight: bold;
}

.deleteLink a {
    color: hsl(358, 79%, 66%);
    font-weight: bold;
}

.editLink {
    float: inline-end;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: hsl(212, 24%, 26%);
}

.editLink a {
    color: hsl(212, 24%, 26%);
    font-weight: bold;
}

img {
    padding: 5px;
}

p {
    display: inline;
}