* {box-sizing: border-box}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik';
}

#commentSection {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.comment {

    gap: 5px;
    
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

.topcontainer {
    display: block;
    justify-content: space-between;
    position: relative;
}

.you {
    color: white;
    background-color:  hsl(238, 40%, 52%);
    font-family: 'Rubik', sans-serif;
    height: 1.1em;
}

.score {
    height: fit-content;
    width: 40px;
    margin: 10px 10px;
    border-radius: 5px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: hsl(212, 24%, 26%);
    background-color: hsl(223, 19%, 93%);
    text-align: center;
}

.commentreplysection {
    display: flex;
}

.addComment {
    display: flex;
    margin: 10px;
    background-color: white;
    padding:10px 5px;
    border-radius: 5px;
    text-align: start;
}

input[type='text']::placeholder {
    text-align: start;
}

#commentInput {
    border: solid 1px hsl(223, 19%, 93%);
    border-radius: 5px;
    width: 75%;
    height: 2cm;
}

.commentreply {
    display: flex;
    justify-content: center;
}

.replycomments {
    width: 75%;
    flex-direction: column;
}

.verticalline {
    border-left: 2px solid hsl(223, 19%, 93%);
    width: 25%;
    height:fit-content;
    position: relative;
    left: 12.5%;
    margin-left: -1px;
    top: 0;
}

.profilepic {
    width: 30px;
    height: 30px;
}

.name {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.topcontainer {
    display: flex;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.nameLink {
    color: hsl(238, 40%, 52%);
    display: inline;
}

.buttonLink {
    font-family: 'Rubik', sans-serif;
}

.sendButton {
    background-color: hsl(238, 40%, 52%);
    color: white;
    height: fit-content;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    margin: 0px 10px;
}

.replyLink {
    float: inline-end;
    font-family: 'Rubik', sans-serif;
    color: hsl(212, 24%, 26%);
}

.deleteLink {
    float: inline-end;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.deleteLink a {
    color: hsl(358, 79%, 66%);
    font-weight: bold;
}